
body {
  background: url("japan.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.figure { 
    position:absolute;
    right:50%;
    left:50%;
    top:50%;
    bottom:50%;
    
}


.north {
  position: fixed;
  right: 50%;
  top: 20px;
  width: 60px;
  height: 25px;
  background-color: red;
}


.south {
  position: fixed;
  right: 50%;
  bottom: 20px;
  width: 60px;
  height: 25px;
  background-color: red;
}


.east {
	position: fixed;
	right: 20px;
	top: 50%;
	width: 44px;
	height: 25px;
	background-color: red;
}

.west {
  position: fixed;
  left: 20px;
  top: 50%;
  width: 44px;
  height: 25px;
  background-color: red;
}
