
body {
  background: url("guatemala.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.figure { 
    position:fixed;
    right:50%;
    top:50%;
    width:104px;
    height:164px;
    margin-top:-82px;
    margin-right:-52px;
}

a {
 color:white; 
}


.north {
  position: fixed;
  right: 50%;
  margin-right:-30px;
  top: 20px;
  width: 60px;
  height: 25px;
}


.south {
  position: fixed;
  right: 50%;
  margin-right:-30px;
  bottom: 20px;
  width: 60px;
  height: 25px;
}


.east {
	position: fixed;
	right: 20px;
	top: 50%;
	width: 44px;
	height: 25px;
}

.west {
  position: fixed;
  left: 20px;
  top: 50%;
  width: 44px;
  height: 25px;
}
